<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청년온기</title>
    <link rel="stylesheet" href="/css/fontstyles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="/notyf/notyf.min.css" rel="stylesheet">
</head>

<body>
    <div class="h-full flex flex-col justify-center items-center">
        <th:block th:replace="~{fragments/header :: header}"></th:block>    
        
        <div id="message" th:if="${message}" th:text="${message}" class="hidden"></div>
        <div id="error-message" th:if="${errorMessage}" th:text="${errorMessage}" class="hidden"></div>

        <div class="flex flex-col items-center absolute w-full top-[50%] transform -translate-y-1/2 px-4 sm:px-0">
            <div class="flex justify-center items-center w-full max-w-[1270px] h-auto mt-10 py-2.5 gap-2.5">
                <p class="text-[6vw] sm:text-[40px] font-semibold text-center leading-tight">
                    <span class="text-[6vw] sm:text-[40px] font-semibold text-center text-[#5856d6]">청년 정보</span>
                    <span class="text-[6vw] sm:text-[40px] font-semibold text-center text-black">를 연결하고</span>
                    <span class="text-[6vw] sm:text-[40px] font-semibold text-center text-[#be1c52]">온기</span>
                    <span class="text-[6vw] sm:text-[40px] font-semibold text-center text-black">로 응답합니다.</span><br />
                    <span class="text-[6vw] sm:text-[40px] font-semibold text-center text-black">청년 복지에 관한 궁금증으로 대화를 시작해 보세요.</span>
                </p>
            </div>
            
			<button th:onclick="window.location.href='/chat'" sec:authorize="isAuthenticated()" class="hover:bg-[#5856d6] flex justify-center items-center w-[35vw] sm:w-[165.2px] h-auto py-2 mt-6 gap-1.75 px-[13.3px] rounded-[21px] bg-black">
			    <p class="text-[3.5vw] sm:text-[22.4px] text-left text-white">채팅시작</p>
			</button>
			
			<button th:onclick="window.location.href='/recs'" sec:authorize="isAuthenticated()" class="hover:bg-[#5856d6] flex justify-center items-center w-[35vw] sm:w-[165.2px] h-auto py-2 mt-6 gap-1.75 px-[13.3px] rounded-[21px] bg-black">
			    <p class="text-[3.5vw] sm:text-[22.4px] text-left text-white">추천정책</p>
			</button>
			
			<button th:onclick="window.location.href='/login'" sec:authorize="isAnonymous()" class="hover:bg-[#5856d6] flex justify-center items-center w-[35vw] sm:w-[165.2px] h-auto py-2 mt-6 gap-1.75 px-[13.3px] rounded-[21px] bg-black">
			    <p class="text-[3.5vw] sm:text-[22.4px] text-left text-white">시작하기</p>
			</button>

        </div>
    </div>
    
    <script src="/notyf/notyf.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const notyf = new Notyf({
            	position: {
            	    x: 'center',
            	    y: 'top',
            	}
            });

            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('logout')) {
                notyf.success('로그아웃되었습니다.');

                // URL에서 파라미터 제거
                const newUrl = window.location.origin + window.location.pathname;
                window.history.replaceState({}, document.title, newUrl);
            }
            
            const message = document.getElementById('message').textContent.trim();
            if (message) {
            	const notyf = new Notyf({
                	position: {
                	    x: 'center',
                	    y: 'top',
                	}
                });
                notyf.success(message);
                history.replaceState(null, '', window.location.pathname); // URL에서 파라미터 제거
            }
            
            const errorMessage = document.getElementById('error-message').textContent.trim();
            if (errorMessage) {
            	const notyf = new Notyf({
                	position: {
                	    x: 'center',
                	    y: 'top',
                	}
                });
                notyf.error(errorMessage);
                history.replaceState(null, '', window.location.pathname); // URL에서 파라미터 제거
            }
        });
    </script>
</body>
</html>
