<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정책 검색</title>
    <link rel="stylesheet" href="/css/fontstyles.css">	
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="pagination/tui-pagination.css" />
    <script src="pagination/tui-pagination.js"></script>
</head>
<body class="min-w-40">
    <div class="container mx-auto p-4">
        <th:block th:replace="~{fragments/header :: header}"></th:block>    
        
        <div class="text-3xl font-bold text-center text-[#5856d6] mb-8 whitespace-nowrap">청년 정책 검색</div>

        <div class="flex flex-row justify-between border-b-2 border-b-gray-400 h-auto mb-2 mx-2 lg:mx-12 xl:mx-20 2xl:mx-36">
            <div class="text-left text-lg mb-2 whitespace-nowrap">맞춤형 청년 정책 검색하기</div>
        </div>

        <form id="searchForm" action="" method="post">
            <div class="flex flex-col border-2 border-gray-200 bg-gray-100 h-auto px-2 py-2 mx-2 lg:mx-12 xl:mx-20 2xl:mx-36">
            
                <div class="flex flex-col md:flex-row items-left mb-4">
                    <div class="flex items-left w-full">
                        <span class="text-lg py-1 font-medium whitespace-nowrap">정책이름 및 내용</span>
                        <input type="text" placeholder="키워드를 입력하세요" class="w-full ml-4 mr-0 md:mr-4 lg:mr-10 p-1 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-600">
                    </div>
                </div>
            
                <div class="flex flex-col items-start mb-4">
                    <div class="flex flex-col mr-4 mb-4 md:mb-0">
                        <div class="flex items-center mb-2">
                            <span class="text-lg font-medium">정책 분야</span>
                            <span class="ml-2 text-sm">(중복선택 가능)</span>
                        </div>
                        <div id="policy-group" class="flex flex-wrap gap-2">
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded policy-all">분야 전체</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded policy-field">일자리분야</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded policy-field">주거분야</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded policy-field">교육분야</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded policy-field">복지.문화분야</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded policy-field">참여.권리분야</button>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex items-center mb-2">
                            <span class="text-lg font-medium">지역</span>
                            <span class="ml-2 text-sm">(중복선택 가능)</span>
                        </div>
                        <div id="region-group" class="flex flex-wrap gap-2">
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-all">지역 전체</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">중앙부처</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">서울</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">부산</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">대구</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">인천</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">광주</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">대전</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">울산</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">경기</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">강원</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">충북</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">충남</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">전북</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">전남</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">경북</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">경남</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">제주</button>
                            <button type="button" class="px-4 py-2 bg-gray-200 rounded region-field">세종</button>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4 gap-x-8">
                    <div class="flex flex-col md:flex-1 items-center mb-4 md:mb-0 md:w-1/3">
                        <div class="flex items-center mb-2">
                            <span class="text-lg font-medium">취업상태</span>
                            <span class="ml-2 text-sm">(중복선택 가능)</span>
                        </div>
                        <select class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none">
                            <option>취업 상태 선택 열기</option>
                            <!-- 옵션 추가 -->
                        </select>
                    </div>
                    <div class="flex flex-col md:flex-1 items-center mb-4 md:mb-0 md:w-1/3">
                        <div class="flex items-center mb-2">
                            <span class="text-lg font-medium">학력</span>
                            <span class="ml-2 text-sm">(중복선택 가능)</span>
                        </div>
                        <select class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none">
                            <option>학력 선택 열기</option>
                            <!-- 옵션 추가 -->
                        </select>
                    </div>
                    <div class="flex flex-col md:flex-1 items-center mb-4 md:mb-0 md:w-1/3">
                        <div class="flex items-center mb-2">
                            <span class="text-lg font-medium">연령</span>
                        </div>
                        <div class="flex items-center w-full mx-2">
                            <span class="text-lg font-medium">만</span>
                            <input type="number" placeholder="나이 입력" min="1" max="200" class="w-full p-2 mx-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-600">
                            <span class="text-lg font-medium">세</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row justify-center gap-x-2 mt-2">
                    <input type="hidden" name="selectedPolicies" id="selectedPolicies">
                    <input type="hidden" name="selectedRegions" id="selectedRegions">
                    <button type="button" class="bg-gray-600 text-center text-white mb-2 px-4 py-2 rounded hover:bg-gray-400 hover:text-black">선택 초기화</button>
                    <button type="button" class="bg-white border-2 border-[#5856d6] text-center text-balck mb-2 px-4 py-2 rounded hover:bg-indigo-400 hover:text-white">내 정보로 선택</button>
                    <button type="submit" class="bg-[#5856d6] text-center text-white mb-2 px-4 py-2 rounded hover:bg-indigo-600">검색</button>
                </div>
            </div>
        </form>
        

        <div class="flex flex-col mt-8 h-auto mb-2 mx-2 lg:mx-12 xl:mx-20 2xl:mx-36">
            <div class="flex flex-col md:flex-row justify-between">
                <div class="whitespace-nowrap">
                    <span class="text-lg font-medium">청년정책 검색 결과</span>
                    <span class="text-3xl font-medium">1234</span>
                    <span class="text-lg font-medium">건</span>
                </div>  
                <div class="flex justify-end items-center space-x-2 whitespace-nowrap">
                    <input type="radio" name="sort_check" value="ganada" id="ganada"><label for='ganada'>가나다순</label>
                    <input type="radio" name="sort_check" value="latest" id="latest"><label for='latest'>최신순</label>
                    <button class="bg-[#5856d6] text-center text-white px-2 py-1 rounded hover:bg-indigo-600">정렬</button>
                </div>
            </div>
            <div class="border-b-2 border-b-gray-400 my-1 mb-2"></div>
            <!--페이지 구현은 백엔드 할 때 해야할듯?-->
            <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <!-- 30개의 카드 요소를 반복적으로 추가 -->
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>

                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>

                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>

                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
                
                <div class="border-2 border-gray-300 p-4 rounded">
                    <div class="text-lg font-bold truncate mb-2">청년문화예술패스</div>
                    <div class="text-gray-600 truncate mb-1">문화체육관광부</div>
                    <div class="text-red-500 truncate mb-4">D-day 129일</div>
                    <div class="flex justify-between pt-8 items-center">
                        <div class="bg-green-100 text-green-700 p-2 rounded truncate">진행중</div>
                        <div class="bg-gray-200 text-gray-700 p-2 rounded truncate">복지.문화분야</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const policyAllButton = document.querySelector('.policy-all');
            const policyFieldButtons = document.querySelectorAll('.policy-field');
            const regionAllButton = document.querySelector('.region-all');
            const regionButtons = document.querySelectorAll('.region-field');

            policyAllButton.addEventListener('click', function () {
                policyAllButton.classList.remove('selected', 'bg-gray-200', 'text-black');
                policyAllButton.classList.add('selected', 'bg-[#5856d6]', 'text-white');
                policyFieldButtons.forEach(button => {
                    button.classList.remove('selected', 'bg-[#5856d6]', 'text-white');
                    button.classList.add('selected', 'bg-gray-200', 'text-black');
                });
            });

            policyFieldButtons.forEach(button => {
                button.addEventListener('click', function () {
                    policyAllButton.classList.remove('selected', 'bg-[#5856d6]', 'text-white');
                    policyAllButton.classList.add('selected', 'bg-gray-200', 'text-black');
                    button.classList.toggle('selected');
                    button.classList.toggle('text-white');
                    button.classList.toggle('bg-[#5856d6]');
                    button.classList.toggle('bg-gray-200',);
                    button.classList.toggle('text-black');
                });
            });

            regionAllButton.addEventListener('click', function () {
                regionAllButton.classList.remove('selected', 'bg-gray-200', 'text-black');
                regionAllButton.classList.add('selected', 'bg-[#5856d6]', 'text-white');
                regionButtons.forEach(button => {
                    button.classList.remove('selected', 'bg-[#5856d6]', 'text-white');
                    button.classList.add('selected', 'bg-gray-200', 'text-black');
                });
            });

            regionButtons.forEach(button => {
                button.addEventListener('click', function () {
                    regionAllButton.classList.remove('selected', 'bg-[#5856d6]', 'text-white');
                    regionAllButton.classList.add('selected', 'bg-gray-200', 'text-black');
                    button.classList.toggle('selected');
                    button.classList.toggle('text-white');
                    button.classList.toggle('bg-[#5856d6]');
                    button.classList.toggle('bg-gray-200',);
                    button.classList.toggle('text-black');
                });
            });

            document.getElementById('searchForm').addEventListener('submit', function (event) {
                //전체버튼을 눌렀을때 그 값을 처리하는 부분도 필요함
                //그리고 검색을 눌렀을때 내가 선택한 값들을 어떻게 보낼지 처리해야됨
                const selectedPolicies = Array.from(document.querySelectorAll('.policy-field.selected')).map(button => button.dataset.value);
                const selectedRegions = Array.from(document.querySelectorAll('.region-field.selected')).map(button => button.dataset.value);

                document.getElementById('selectedPolicies').value = selectedPolicies.join(',');
                document.getElementById('selectedRegions').value = selectedRegions.join(',');
            });
        });
    </script>
</body>
</html>
