<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="--header" th:fragment="header">
        <div class="header h-16 mb-20">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <p th:onclick="window.location.href='/'" class="cursor-pointer absolute left-[5%] top-[5%] text-[5vw] sm:text-[32px] font-bold text-left">
                <span class="text-[5vw] sm:text-[32px] font-bold text-left text-[#5856d6]">청년</span>
                <span class="text-[5vw] sm:text-[32px] font-bold text-left text-black">온기</span>
                <span class="text-[5vw] sm:text-[32px] font-bold text-left text-[#ff3b30]"> </span>
            </p>
			<div class="flex justify-between items-center absolute right-[5%] top-[5%] gap-4 sm:gap-6 flex-nowrap">
			    <a th:href="@{/login}" sec:authorize="isAnonymous()" class="cursor-pointer text-[4vw] sm:text-2xl text-left text-black underline leading-snug hover:text-[#5856d6] whitespace-nowrap">로그인</a>
			    <div th:if="${user != null}" class="flex items-center">
			        <div class="relative rounded-full overflow-hidden">
					    <a th:href="@{/mypage}" class="block w-10 h-10 rounded-full overflow-hidden">
					        <img id="profileImage" th:src="@{'/profile/file/' + ${user.userId}}" class="w-full h-full object-cover" />
					    </a>
					</div>	
			        <a th:href="@{/mypage}" th:text="${user.name}" sec:authorize="isAuthenticated()" class="cursor-pointer text-[4vw] sm:text-2xl text-left text-black underline leading-snug hover:text-[#5856d6] whitespace-nowrap ml-4"></a>
			        <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="cursor-pointer text-[4vw] sm:text-2xl text-left text-black underline leading-snug hover:text-[#5856d6] whitespace-nowrap ml-6">로그아웃</a>
			    </div>
			    <a th:href="@{/signup}" sec:authorize="isAnonymous()" class="cursor-pointer text-[4vw] sm:text-2xl text-left text-black underline leading-snug hover:text-[#5856d6] whitespace-nowrap">회원가입</a>
			</div>
        </div>
    </header>
</body>
</html>
